<div class="container-fluid">
  <!-- nav bar -->
  <app-nav-bar></app-nav-bar>
  <!-- slide bar -->
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="side col-12 col-md-2">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="col-12 col-md-10">
        <div class="content">
          <!--TODO your title -->
          <h2>your title</h2>
          <div>
            <div class="content2">
              <!-- TODO add contient -->
              <p>add contient</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
