.card-login {
  border: 2px solid #e8ebf1;
  border-radius: 30px;
  background: rgb(13, 65, 125);
  background: linear-gradient(
    36deg,
    rgba(13, 65, 125, 1) 0%,
    rgba(19, 150, 189, 1) 100%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}
