<section class="white-section" id="features">
  <div class="container-fluid">
    <!--New Password  -->
    <h3 class="mb-4">New Password</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>New password</label>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Confirm new password</label>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>
      </div>
    </div>
    <div>
      <!-- <button class="btn btn-primary login" @click="updatePassword">Update</button> -->
      <button class="btn btn-primary">Update</button>
    </div>
  </div>
</section>
