<div class="container-fluid agent">
  <!-- nav bar -->
  <app-nav-bar></app-nav-bar>
  <!-- slide bar -->
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="side col-12 col-md-2">
        <app-agent-nav-menu></app-agent-nav-menu>
      </div>
      <div class="col-12 col-md-10">
        <div class="content">
          <!--TODO your title -->
          <h3><i class="fa-solid fa-people-group"></i>Liste Clients</h3>
          <div>
            <div class="content2">
                  <div class="table-container">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <th>Prénom</th>
                          <th>Poste</th>
                          <th>Email</th>
                          <th>Tel</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let agent of agents">
                          <td>{{agent.nom}}</td>
                          <td>{{agent.prenom}}</td>
                          <td>{{agent.poste}}</td>
                          <td>{{agent.email}}</td>
                          <td>{{agent.tel}}</td>
                          <td><div class="btn-group btn-group-sm mb-3" role="group" aria-label="Groupe de petits boutons">
                            <button type="button" class="btn btn-primary border border-dark ">Visualiser</button>
                            <button type="button" class="btn btn-primary  border border-dark">Modifier</button>
                            <button type="button" class="btn btn-primary  border border-dark">Supprimer</button>
                            </div>
                          </td>
              
                        </tr>
                      </tbody>
                    </table>
                  </div>
                     
              </div>
            </div>
               
            </div>
          </div>
        </div>
      </div>
    </div>
   
 
