<div class="container-fluid admin">
  <!-- nav bar -->
  <app-nav-bar></app-nav-bar>
  <!-- slide bar -->
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="side col-12 col-md-2">
        <app-admin-nav-menu></app-admin-nav-menu>
      </div>
      <div class="col-12 col-md-10">
        <div class="content">
          <!--TODO your title -->
          <h2>your title</h2>
          <div>
            <div class="content2">
              <!-- TODO add contient -->
              <p>add contient</p>
              <button class="admin-button btn" type="button">
                <i class="fas fa-chart-area fa-fw mr-3"></i> button-admin
              </button>
              <button class="cancel-admin-button btn" type="button">
                <i class="fas fa-chart-area fa-fw mr-3"></i> btn-ad-cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
