<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush">
      <a
        routerLink="/clientHome"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-2"
        aria-current="true"
      >
        <i class="fas fa-chart-area fa-fw mr-3"></i>Main dashboard
      </a>
      <!-- Todo Add Route -->
      <a
        routerLink="/YourRoute"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-2"
      >
        <i class="fa-solid fa-user fa-fw mr-3"></i>Comptes
      </a>
      <!-- Todo Add Route -->
      <a
        routerLink="/YourRoute"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-2"
      >
        <i class="fa-solid fa-clock-rotate-left fa-fw mr-3"></i>Historique
      </a>
      <!-- Todo Add Route -->
       
      <a
        routerLink="/YourRoute"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-2" 
       >
       <i class="fa-solid fa-file-lines fa-fw mr-3"></i>facteurs
       </a>
      <!-- Todo Add Route -->
      <a
        class="list-group-item list-group-item-action py-2"
        class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        data-toggle="dropdown"
        aria-expanded="false"
      >
      <i class="fa-brands fa-cc-amazon-pay"></i>Operations
      </a>
     <ul class="dropdown-menu dropdown-menu-end"  aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" href="#" routerLink="/paiement" >
            <i class="fa-sharp fa-solid fa-comments-dollar"></i>     Effectuer un paiement  
          </a>
        </li>

        <li>
          <a class="dropdown-item" href="#"  >
            <i class="fa-sharp fa-solid fa-comments-dollar"></i>  Something else here
          </a>
        </li>
      </ul>
    
         <!-- Todo Add Route -->
      
     <a
        routerLink="/YourRoute"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="list-group-item list-group-item-action py-2">
          <i class="fas fa-calendar fa-fw mr-3"></i>Demande
      </a>
    </div>
  </div>
</nav>
