/* Sidebar */
.sidebar {
  box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  padding-top: 1rem;
  height: 100%;
}

i {
  color: #0d417d !important;
}

.list-group-item {
  text-align: left;
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background-color: #1396bd;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
