<div class="container-fluid agent">
  <!-- nav bar -->
  <app-nav-bar></app-nav-bar>
  <!-- slide bar -->
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="side col-12 col-md-2">
        <app-agent-nav-menu></app-agent-nav-menu>
      </div>
      <div class="col-12 col-md-10">
        <div class="content">
          <!--TODO your title -->
          <div>
            <div class="content2">
              <!-- TODO add contient -->

              <div class="all">
                <div class="welcome-container">
                  <h1>Welcome <div style="color :  #f36806 ; display: inline">{{ clientName }}</div></h1>
                 
                <div class="charts-container">
                <div class="chart-container">
                  <h4>Subscription requests per day</h4>
                  <canvas  id="MyChart" >{{ chart }}</canvas>
                </div>
                <div class="chart1-container">
                  <h4>Accepted vs Rejected requests</h4>

                  <canvas  id="MyChart1" >{{ chart }}</canvas>
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
