<p>
  agent-main works!
</p>
<div class="all">
  <div class="welcome-container">
    <h1>Welcome {{ clientName }}</h1>
    <div *ngIf="showBalance" class="balance-container">
      <p>Your current balance is:</p>
      <h4 (click)="toggleShowBalance()" style="color: #0d417d; text-align: center;">{{ clientBalance }} $</h4>
    </div>
    <button class="balance-button" (click)="toggleShowBalance()">
      {{ showBalance ? 'Hide Balance' : 'Show Balance' }}
    </button>
  </div>
  <div class="charts-container">
  <div class="chart-container">
    <h4>Accepted vs Rejected requests per month</h4>
    <canvas  id="MyChart" >{{ chart }}</canvas>
  </div>
  <div class="chart1-container">
    <h4>Subscription requests per day</h4>
  
    <canvas  id="MyChart1" >{{ chart }}</canvas>
  </div>
  </div>