.container-fluid {
    padding: 0% 0% 7%;
  }
  .col {
    margin: 0% !important;
    padding: 0% !important;
  }
  .content {
    padding: 5%;
    text-align: left;
  }
  .content2 {
    padding-top: 4%;
  }
   


.btn:hover {
    background-color: #4e71f0;
    color: white;
    }
    
    .paddin{
        padding-top: 10px;
        padding-bottom: 50px;
        
    }
    
    .btn{
        padding: 20px;
    }
    
    .btn-group-vertical{
        padding-bottom: 100px;
        
    }
    
    .nom{
        
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    
    .prenom{
        padding-left: 80px;
        font-size: 24px;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    
    .padding{
        border-right: 1px solid #ccc;
        padding-right: 12px;
    }
    
    .widget {
    
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    input[readonly] {
      background-color: rgb(215, 215, 215);
      color: black;
    }

    .font-label{
      font-weight: bold;
    }

    .row-field {
      margin-bottom: 10px;
    }