<div class="container-fluid">
  <!-- nav bar -->
  <app-nav-bar></app-nav-bar>
  <!-- slide bar -->
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="side col-12 col-md-2">
        <app-nav-menu></app-nav-menu>
      </div>
      <div class="col-12 col-md-10">
        <div class="content">
          <h3 class="display-4 m-6 p-3 text-dark"><i class="fa-solid fa-file-lines fa-fw mr-3"></i>Paiement de facture </h3>
          <div class="header">
            <div class = "btn  btn-light btn-lg  mt-4"  >Liste créancier</div>
            <div class = "btn  btn-light mt-4 btn-lg"  >Historique</div>
           
          </div>
          <div class="row bg-light "> 
            <div class="col"> 
          <div class="dropdown ">
            <button class="btn btn-light btn-lg  btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Toutes les catégories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item btn-lg"  >Toutes les catégories</button>
              <button class="dropdown-item btn-lg"  >Factures</button>
              <button class="dropdown-item btn-lg">Recharges</button>
            </div>
          </div>
          </div>
          </div>
          <div>
            <div class="content2">
            
               
              <div  *ngFor="let produit of produits"  class="produit m-2" >
                <div class="row mt-3 gutter m-2">
                       <div class="col-md-2 p-0  produit ">
                           <img src={{produit.image}}  class="img-fluid"  >
                         </div>
                         <div class="col-md-3 produit text-center">
                           <h4>{{produit.name}}</h4>
                           <p>{{produit.description }}</p>
                         </div>
                         <div class="col-md-1"></div>
                         <div class="col-md-2 p-0 produit ">
                          <img src={{produit.image}}  class="img-fluid"  >
                        </div>
                        <div class="col-md-4 produit text-center">
                          <h4>{{produit.name}}</h4>
                          <p>{{produit.description }}</p>
                        </div>
                          
                         
                </div>
              </div>
              <p>add contient</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
