<section class="colored-section" id="title">
  <div class="container-fluid">
    <!-- Nav Bar -->

    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="">JabakLah.com</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarTogglerDemo02"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#login">login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#cta">Download</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Title -->

    <div class="row">
      <div class="col-lg-6">
        <h1 class="big-heading">
          Simplifiez votre expérience immobilière avec
          <span style="color: #fcba1d">JabakLah</span>:
        </h1>
        <h2 class="small-heading">paiements en ligne et gestion facile.</h2>
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          type="button"
          class="btn btn-light btn-lg download-button"
        >
          cree un compte
        </a>
      </div>

      <div class="col-lg-6">
        <img
          class="title-image"
          src="../assets/images/E-BANKING-Header.png"
          alt="E-BANKING-Header"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features -->

<section class="white-section" id="features">
  <div class="container-fluid">
    <div class="row">
      <div class="feature-box col-lg-4">
        <i class="icon fa-solid fa-money-bill fa-4x"></i>
        <h3 class="feature-title">Paiements en ligne.</h3>
        <p>facile, pratiques et sécurisés.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fas fa-bullseye fa-4x"></i>
        <h3 class="feature-title">Gestion simplifiée</h3>
        <p>gérez facilement votre compte.</p>
      </div>

      <div class="feature-box col-lg-4">
        <i class="icon fa-solid fa-hand-holding-dollar fa-4x"></i>

        <h3 class="feature-title">Satisfaction garantie.</h3>
        <p>grâce à une expérience utilisateur de qualité supérieure.</p>
      </div>
    </div>
  </div>
</section>

<!-- login -->

<section class="colored-section" id="login">
  <div class="container-fluid">
    <h2 class="login-text">login.</h2>
    <div class="row">
      <div class="login-box card border-primary col-lg-5">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><i class="iconClient fa-solid fa-user fa-4x"></i
        ></a>
        <h3 class="feature-title">Client.</h3>
        <p>Gérez vos paiements et factures immobiliers facilement.</p>
      </div>
      <div class="login-box col-lg-2"></div>
      <div class="login-box card border-primary col-lg-5">
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><i class="iconAgent fa-solid fa-user-gear fa-4x"></i
        ></a>
        <h3 class="feature-title">Agent.</h3>

        <p>Gérez les paiements et abonnements de vos clients efficacement.</p>
      </div>
    </div>
  </div>
</section>

<!-- Press -->

<section class="white-section" id="press">
  <h2 class="section-heading">Nos partenaires</h2>
  <h4>Ils nous font confiance !</h4>
  <p>
    Depuis sa création, Cash Plus a noué avec les opérateurs du marché,
    plusieurs partenariats pérennes qui aujourd'hui font sa force et sa
    renommée. Une confiance précieuse que nous affichons avec fierté.
  </p>
  <div>
    <img
      class="press-logo"
      src="../assets/images/Maroc_telecom_logo.png"
      alt="IAM-logo"
    />
    <img
      class="press-logo"
      src="../assets/images/Logo_inwi.png"
      alt="INWI-logo"
    />
    <img
      class="press-logo"
      src="../assets/images/Orange_logo.png"
      alt="ORANGE-logo"
    />
    <img
      class="press-logo"
      src="../assets/images/mashable.png"
      alt="mashable-logo"
    />
  </div>
</section>

<!-- Call to Action -->

<section class="colored-section" id="cta">
  <div class="container-fluid">
    <h3 class="big-heading">
      JABAKLAH - Gérez facilement vos paiements immobiliers en ligne et profitez
      d'une expérience utilisateur fluide.
    </h3>
    <button class="download-button btn btn-lg btn-dark" type="button">
      <i class="fa-regular fa-phone"></i> Download
    </button>
    <button class="download-button btn btn-lg btn-light" type="button">
      <i class="fab fa-google-play"></i> Download
    </button>
  </div>
</section>

<!-- about -->
<section class="white-section" id="about">
  <div class="container-fluid">
    <h2 class="section-heading">About.</h2>
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <p class="text-muted mb-6">
          JABAKLAH est une application de gestion de paiements et de livraisons
          qui simplifie les transactions financières pour les particuliers et
          les entreprises. Rejoignez-nous dès aujourd'hui pour une expérience de
          gestion financière fluide et sécurisée.
        </p>
      </div>
      <div class="col-lg-6 px-5 mx-auto order-1 order-lg-2">
        <img
          src="/assets/images/About.png"
          alt=""
          class="img-fluid mb-6 mb-lg-0"
        />
      </div>
    </div>
  </div>
</section>
<section class="colored-section" id="team">
  <div class="container-fluid">
    <h2 class="login-text">Our Team.</h2>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-1.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Mohamed BOUGRA</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-3.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Hamza LAKKAB</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-2.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Salah eddine OUTLIOUA</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Jalila</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Ikram CHKIH</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-white rounded shadow-sm py-5 px-4">
          <img
            src="https://bootstrapious.com/i/snippets/sn-about/avatar-4.png"
            alt=""
            width="100"
            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm"
          />
          <h5 class="mb-0">Halima</h5>
          <span class="small text-uppercase text-muted">CEO - Founder</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-facebook-f"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End-->
    </div>
  </div>
</section>
<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <i class="social-icon fab fa-facebook-f"></i>
    <i class="social-icon fab fa-twitter"></i>
    <i class="social-icon fab fa-instagram"></i>
    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright 2023 JabakLah</p>
  </div>
</footer>
